html,
body {
    font-family: 'Shadows Into Light', cursive;

    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.hero_text img {
    border-radius: 70%;
    border: 5px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 25%;
}

#hero-section {
    background-image: url("assets/img/Omdurman.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    color:red;
}

h1 {
    font-size: 50px;
}

.icons {
    margin: 50px;
    height: 5rem;
    width: 5rem;
}

.icon-text {
    position: center;
}

.container {
    width: 100%;
    margin: 3.2rem auto 0 auto;
}

@media(min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px
    }
}

header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}

.transition-swipe {
    transition: 500ms;
    transform: translateY(0);
}

html.is-animating .transition-swipe {
    transform: translateY(100px);
}